---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About me - Filipe Lobo del Monte">
  <div class="max-w-3xl">
    <h1
      class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100"
    >
      Fullstack Software Engineer
    </h1>

    <p class="mt-10 text-base text-zinc-600 dark:text-zinc-400">
      Hey! I'm <strong>Filipe</strong> — a software engineer from Brazil 🇧🇷, now
      living in Zürich 🇨🇭.

      <br />
      <br />
      Dad to an incredible little boy. I love coding, cold beer, funky bass lines,
      and pretending I have free time to build side projects. This is me trying to
      put some code online and maybe make something cool along the way.
    </p>
  </div>
</MainLayout>
