---

---

<div
  class="max-w-7xl prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-2xl
  prose-h2:font-bold prose-h2:text-xl
  prose-h3:font-bold prose-h3:text-lg
  prose-p:text-sm
  prose-li:text-sm
  prose-hr:my-4
  prose-a:text-blue-600 prose-img:inline prose-img:my-0"
>
  <slot />
</div>
